<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
<center>
    <h1>Mini-Site Turístico</h1>
    
    <h2>Bem-vindo ao nosso site!</h2>
    
    <nav>
        <a href="atracoes/">Atrações</a>
        <a href="galeria/">Galeria de Fotos</a>
        <a href="sobre/">Sobre a Cidade</a>
    </nav>
    </center>
  <p>Bem-vindo ao nosso mini-site turístico! Aqui você encontrará informações sobre as atrações, galeria de fotos e detalhes sobre a cidade.</p>
  <p>Explore as nossas atrações, veja fotos incríveis e conheça mais sobre a história e cultura da cidade.</p>
  <img src="primeiroApp/img/Site-para-empresa-de-turismo.jpg" alt="Imagem de Atração Turística" style="width:100%; max-width:600px; height:auto;">
  <p>Para mais informações, entre em contato conosco.</p>
  <footer>
    <p>&copy; 2023 Mini-Site Turístico. Todos os direitos reservados.</p>
  </footer>
</body>
</html>